.nav-container {
    overflow: hidden;
    background-color: #f1cc64;
 
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    color:#8d6700;
    font-size: 17px;
    width: 100%;
    margin: 0;
    
   
  }
  

  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .nav-container {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    
  }